# Ignore database file
db.sqlite3

# Ignore Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore other virtual environment-related files or folders
env/
venv/

# Ignore any local settings or environment configuration
*.env
